.app{
  text-align: center;
  width: 25%;
  margin: 150px auto;

}
.main-heading{
  font-family: 'Roboto', sans-serif;
  color: rgb(40, 41, 41);
}
.balance{
  text-align: left;
}
.balance-heading{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.balance-amount{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  margin: 25px;
}
.income-expense{
  width: 100%;
  text-align: center;
  height: 50%;
  display: flex;
  background-color: rgb(250, 250, 250);
}
.income-section{
  width: 50%;
  border-bottom: green 2px solid;
}
.income-heading{
  font-family: 'Roboto', sans-serif;
  color: green;
  margin: 15px;
}
.income-balance{
  font-size: x-large;
  margin: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.expense-section{
  width: 50%;
  border-bottom: red 2px solid;
  border-left: 1px solid;
  border-left-style: dashed;
}
.expense-heading{
  font-family: 'Roboto', sans-serif;
  color: red;
  margin: 15px;
}
.expense-balance{
  font-size: x-large;
  margin: 15px;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.transaction-history{
  text-align: left;
}
.transaction-history-heading{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
}

.transaction-tile{
  display: flex;
  margin: 10px 0;
}
.transaction-item{
  list-style-type: none;
  background-color: rgb(247, 247, 247);
  height: 35px;
  width: 100%;
  margin: auto 0;
  box-shadow: 2px 3px 2px gray;
}
.del-btn{
  background-color: red;
  border: none;
  color: white;
  border-radius: 25%;
  margin: 5px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  position: absolute;
  left: 0;
}
.del-btn:hover{
  opacity: 1;
}
.transaction-amount{
  text-align: left;
  margin: 5px;
  font-family: 'Roboto';
}
.add-transaction{
  text-align: left;
}
.add-transaction-heading, .add-transaction-amount-heading{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
.add-transaction-text{
  border: 0.5px black solid;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  font-size: large;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.add-transaction-amount{
  border: 0.5px black solid;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  font-size: large;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.add-transaction-text:focus{
  border: 3px solid rgb(235, 165, 238);
}
.add-transaction-amount:focus{
  border: 3px solid rgb(235, 165, 238) ;
}
.transaction-btn{
  margin: 5px 0;
  width: 100%;
  border-radius: 2px;
  border-style: none;
  border: 1px solid rgb(173, 123, 175);
  height: 30px;
  background-color:rgb(235, 165, 238) ;
  color: white;
  font-size: large;
}
.transaction-btn:focus{
  border: 3px solid rgb(235, 165, 238);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  background-color:  rgb(173, 123, 175);
}