.app{
  text-align: center;
  width: 25%;
  margin: 150px auto;

}
.main-heading{
  font-family: 'Roboto', sans-serif;
  color: rgb(40, 41, 41);
}
.balance{
  text-align: left;
}
.balance-heading{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.balance-amount{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  margin: 25px;
}
.income-expense{
  width: 100%;
  text-align: center;
  height: 50%;
  display: flex;
  background-color: rgb(250, 250, 250);
}
.income-section{
  width: 50%;
  border-bottom: green 2px solid;
}
.income-heading{
  font-family: 'Roboto', sans-serif;
  color: green;
  margin: 15px;
}
.income-balance{
  font-size: x-large;
  margin: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.expense-section{
  width: 50%;
  border-bottom: red 2px solid;
  border-left: 1px solid;
  border-left-style: dashed;
}
.expense-heading{
  font-family: 'Roboto', sans-serif;
  color: red;
  margin: 15px;
}
.expense-balance{
  font-size: x-large;
  margin: 15px;  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.transaction-history{
  text-align: left;
}
.transaction-history-heading{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
}

.transaction-tile{
  display: flex;
}
.transaction-item{
  list-style-type: none;
  background-color: blanchedalmond;
  height: 30px;
  width: 100%;
  text-align: center;
  margin: auto 0;
}